@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: sans-serif;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon{
  font-size: 50px;
color: #fff
}

.icon-wrapper:hover > .icon{
  color: #000;
  object-position: center;
  object-fit: cover;
  transition: all 0.5s ease;
}

.img-wrapper:hover > .img{
  transform: scale(1);
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
  transition: all 0.5s ease, opacity 0ms;
}

.img-wrapper:hover{
  opacity: 0.9;
  filter: brightness(0.7);
  transition: filter 0ms, opacity 0ms;
}

.img-wrapper{
  transition: filter 0ms, opacity 0ms;
}

.img{
  object-fit: cover;
  transform: scale(1.1);
  object-position: center;
  transition: all 0.5s ease;
}

.img-wrapper{
  overflow: hidden;
}

.prev{
  position: absolute;
  left: 0;
  top: 370px;
}

.slide.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.slide.lastSlide {
  transform: translateX(-100%);
}
.slide.nextSlide {
  transform: translateX(100%);
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}

.activeSlide{
  opacity: 1;
  display: block;
}

.nonActiveSlide{
  opacity: 0;
  display: none;
}

.full-width{
  width: 100vw;
}

.center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/*Swiper*/
.swiper-parent_div{
  position: relative;
  height: 100%;
  margin: 120px 0;
}
.swiper {
  width: 100%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px !important;
  min-height: 400px !important;
}

.swiper-slide img {
  display: block;
}
